<section id="about-us">
    <h1>Hakkımızda</h1>
    <p><strong>Cartix</strong> olarak teknolojiyi yakından takip ediyor, e-ticaretin dinamik yapısına ayak uydurarak sürekli gelişiyor; sadece bir alışveriş platformu olmanın ötesine geçerek, müşterilerimize güvenli, hızlı ve keyifli bir alışveriş deneyimi sunmayı ve onların güvendiği bir marka haline gelmeyi hedefliyoruz.</p> 
    <h2 id="two">Misyonumuz</h2> <p>Cartix olarak misyonumuz, her yaştan ve her kesimden kullanıcının güvenle, kolayca ve keyifle alışveriş yapabileceği bir platform sunmaktır. Kullanıcı dostu arayüzümüz ve kaliteli hizmet anlayışımızla, alışverişi herkes için ulaşılabilir kılıyoruz.</p> <h2 id="three">Vizyonumuz</h2> <p>Vizyonumuz, müşteri memnuniyetini en üst seviyede tutarak Türkiye’nin en güvenilir ve tercih edilen e-ticaret platformlarından biri olmaktır. Sürekli gelişen ürün çeşitliliğimiz ve yenilikçi yaklaşımımızla alışveriş deneyimini bir adım öteye taşımayı hedefliyoruz.</p>
    <h2 id="four">Neden Biz?</h2>
    <ul>
        <li>
            <strong>Geniş ürün yelpazesi:</strong> En popüler markalardan en son trendleri sunuyoruz.
        </li>
        <li>
            <strong>Güvenli alışveriş:</strong> Güvenli ödeme yöntemlerimizle çevrimiçi alışverişin keyfini çıkarın.
        </li>
        <li>
            <strong>Hızlı kargo:</strong> Türkiye'nin her köşesine hızlı teslimat.
        </li>
        <li>
            <strong>7/24 müşteri desteği:</strong> Herhangi bir sorunuz için her zaman buradayız.
        </li>
    </ul>
</section>