<section id="about-us">
    <h1>About Us</h1>
    <p> Larana is an e-commerce site that brings together the passion for sneakers and high-quality shoes with customers. Our collections combine fashion, comfort, and performance, aiming to offer elegance and comfort with every step. </p>
    <h2 id="two">Our Mission</h2>
    <p> Our goal is to provide high-quality and reliable shoes for people of all ages, whether for daily life or sports activities. We offer the latest models from popular global brands at affordable prices to our customers. </p>
    <h2 id="three">Our Vision</h2>
    <p> By prioritizing customer satisfaction, we aim to become Turkey's leading platform for sneaker sales. Our goal is to continuously expand our product range and offer the best shopping experience possible. </p>
    <h2 id="four">Why Us?</h2>
    <ul>
        <li>
            <strong>Wide product range:</strong> We offer the latest trends from the most popular brands.
        </li>
        <li>
            <strong>Secure shopping:</strong> Enjoy online shopping with our secure payment methods.
        </li>
        <li>
            <strong>Fast shipping:</strong> Quick delivery to every corner of Turkey.
        </li>
        <li>
            <strong>24/7 customer support:</strong> We are here for any of your questions, anytime.
        </li>
    </ul>
</section>