<section id="about-us">
    <h1>Hakkımızda</h1>
    <p> Cortex kaliteli ürün sunan, müşterilerle buluşturan bir e-ticaret sitesidir.</p>
    <h2 id="two">Misyonumuz</h2>
    <p> Popüler küresel markaların en son modellerini uygun fiyatlarla müşterilerimize sunuyoruz. </p>
    <h2 id="three">Vizyonumuz</h2>
    <p> Müşteri memnuniyetini ön planda tutarak, Türkiye'nin ürün satışında lider platformu olmayı hedefliyoruz. Hedefimiz, ürün yelpazemizi sürekli genişleterek en iyi alışveriş deneyimini sunmaktır. </p>
    <h2 id="four">Neden Biz?</h2>
    <ul>
        <li>
            <strong>Geniş ürün yelpazesi:</strong> En popüler markalardan en son trendleri sunuyoruz.
        </li>
        <li>
            <strong>Güvenli alışveriş:</strong> Güvenli ödeme yöntemlerimizle online alışverişin keyfini çıkarın.
        </li>
        <li>
            <strong>Hızlı kargo:</strong> Türkiye'nin her köşesine hızlı teslimat.
        </li>
        <li>
            <strong>7/24 müşteri desteği:</strong> Herhangi bir sorunuz için her zaman buradayız.
        </li>
    </ul>
</section>