<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cortex</title>
    <link rel="icon" type="image/x-icon" href="~/img/LogoCortexSon.png" />
    <link rel="stylesheet" href="~/styles/style.css" />
</head>
<body>
    <section id="header">
        <a href="~/Home/Index">
            <img src="~/img/LogoCortexSon.png" alt="Cortex Logo" width="140" height="50" />
        </a>
        <div id="nav1">
            <ul id="navbar">
                <li>
                    <a class="active" href="~/">Ana Sayfa</a>
                </li>
                <li>
                    <a href="~/Shop/Index">Mağaza</a>
                </li>
                <li>
                    <a href="~/Contact">İletişim</a>
                </li>
                <li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="~/Account/Logout">Çıkış Yap</a>
                    }
                    else
                    {
                        <a href="~/Account/Login">Giriş Yap</a>
                    }
                </li>
                <li>
                    <a href="~/Account/MyAccount">Hesabım</a>
                </li>
                <li>
                    <a href="~/Cart/Index">
                        <img src="~/img/cart-icon.png" alt="Sepet İkonu" width="24" height="20" />
                    </a>
                </li>
            </ul>
        </div>
    </section>
    @RenderBody()
    <footer>
        <div class="col">
            <img class="logo" width="100%" src="~/img/" alt="logo" />
            <h4>İletişim</h4>
            <p>
                <strong>Adres:</strong> Kahramanmaraş/Onikişubat/Sütçüimam Üniversitesi
            </p>
            <p>
                <strong>Telefon:</strong> +90 123 123 12 12
            </p>
            <p>
                <strong>Çalışma Saatleri:</strong> 9:00 - 20:00, Pts - Cts
            </p>
        </div>
        <div class="col">
            <h4><strong>Hakkında</strong></h4>
            <a href="~/About"><strong>Hakkımızda</strong></a>
            <a href="~/FAQ"><strong>S.S.S</strong></a>
        </div>
        <div class="col">
            <h4>Hesabım</h4>
            @if (User.Identity.IsAuthenticated)
            {
                <a href="~/Account/MyAccount"><strong>Hesabım</strong></a>
                <a href="~/Account/Logout"><strong>Çıkış Yap</strong></a>
            }
            else
            {
                <a href="~/Account/Register"><strong>Kayıt Ol</strong></a>
                <a href="~/Account/Login"><strong>Giriş Yap</strong></a>
            }
            <a href="~/Account/ViewOrders"><strong>Siparişimi Takip Et</strong></a>
            <a href="~/Contact"><strong>İletişim</strong></a>
        </div>
        <div class="col">
            <h4>Güvenli Ödeme Yöntemleri</h4>
            <img src="~/img/pay/pay.png" alt="Ödeme" />
        </div>
    </footer>
    <script src="~/scripts/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>